﻿@page
@model Alotan.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

@section Topo{
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                    <h1 class="mb-4">About Us</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quo!</p>
                </div>
            </div>
        </div>
    </div>
}

<section class="site-section pb-5">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Team</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quia tempore magni dolore dolorum reprehenderit illum consectetur minima</p>
            </div>
        </div>
        <div class="row element-animate">
            <div class="col-md-6 video-wrap mb-5">
                <img src="images/img_5.jpg" alt="Image placeholder" class="img-fluid">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><span class="fa fa-play"></span></a>
            </div>
            <div class="col-md-6 pl-md-5">
                <h3>Jay Ramzee</h3>
                <p class="lead">Expert Barber</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere a excepturi quod impedit rerum ipsum totam incidunt, necessitatibus id veritatis maiores quos saepe dolore commodi magnam fugiat. Incidunt, omnis.</p>
                <p>Nobis quae eaque facere architecto eligendi, voluptas quasi, blanditiis aperiam possimus inventore quis nam! Cupiditate necessitatibus, voluptatem excepturi placeat exercitationem quos vitae ut vero dolorem, provident sit odio porro facere.</p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row element-animate">
            <div class="col-md-6 video-wrap mb-5">
                <img src="images/img_7.jpg" alt="Image placeholder" class="img-fluid">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><span class="fa fa-play"></span></a>
            </div>
            <div class="col-md-6 pl-md-5">
                <h3>Chris Worth</h3>
                <p class="lead">Expert Barber</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere a excepturi quod impedit rerum ipsum totam incidunt, necessitatibus id veritatis maiores quos saepe dolore commodi magnam fugiat. Incidunt, omnis.</p>
                <p>Nobis quae eaque facere architecto eligendi, voluptas quasi, blanditiis aperiam possimus inventore quis nam! Cupiditate necessitatibus, voluptatem excepturi placeat exercitationem quos vitae ut vero dolorem, provident sit odio porro facere.</p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row element-animate">
            <div class="col-md-6 video-wrap mb-5">
                <img src="images/img_8.jpg" alt="Image placeholder" class="img-fluid">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><span class="fa fa-play"></span></a>
            </div>
            <div class="col-md-6 pl-md-5">
                <h3>Dan Fisher</h3>
                <p class="lead">Expert Barber</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere a excepturi quod impedit rerum ipsum totam incidunt, necessitatibus id veritatis maiores quos saepe dolore commodi magnam fugiat. Incidunt, omnis.</p>
                <p>Nobis quae eaque facere architecto eligendi, voluptas quasi, blanditiis aperiam possimus inventore quis nam! Cupiditate necessitatibus, voluptatem excepturi placeat exercitationem quos vitae ut vero dolorem, provident sit odio porro facere.</p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
