﻿@page 
@model Alotan.Pages.BlogModel
@{
    ViewData["Title"] = "Blog";
}

@section Topo{
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                    <h1>Blog</h1>
                    <p>Discover &amp; connect with great places around the world.</p>
                </div>
            </div>
        </div>
    </div>
}

<section class="slider-wrap site-section">
    
    <div class="container">
              
        @for (int i = 0; i < Model.BlogList.Count; i += 3)
        {
            <div class="row">

                @for (int j = i, cont = 0; j < Model.BlogList.Count && cont < 3; j++, cont++)
                {
                    <div class="col-md-4 element-animate ">                        
                            <a href="#" class="img-bg" style='background-image: url(/@Model.BlogList[j].Url)'>
                                <div class="text">
                                    <span class="icon ion-@Model.BlogList[j].Type"></span>
                                    <h2>@Model.BlogList[j].Description</h2>
                                    <p>Continue reading...</p>
                                </div>
                            </a>
</div>
                }

            </div>
        }
              
        @{
            var prevDisabled = !Model.BlogList.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.BlogList.HasNextPage ? "disabled" : "";
        }
        <div class="row element-animate pt-5">
            <div class="col-6 text-left mb-3"><a asp-page="./Blog" asp-route-pageNumber="@(Model.BlogList.PageIndex - 1)" class="btn btn-primary @prevDisabled">Prev</a></div>
            <div class="col-6 text-right"><a asp-page="./Blog" asp-route-pageNumber="@(Model.BlogList.PageIndex + 1)" class="btn btn-primary @nextDisabled">Next</a></div>
        </div>
    </div>
</section>
<!-- END section -->
