﻿@page
@model Alotan.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

@section Topo{
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                    <h1 class="mb-4">Contact Us</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quo!</p>
                </div>

            </div>
        </div>
    </div>
}

<section class="site-section">
    <div class="container">
        @if (ViewData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["Error"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="row">
                        <div class="col-md-4 form-group">                            
                            <label asp-for="Input.Name"></label>
                            <input asp-for="Input.Name" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">                            
                            <label asp-for="Input.Phone"></label>
                            <input asp-for="Input.Phone" class="form-control" />
                            <span asp-validation-for="Input.Phone" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">                            
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">                            
                            <label asp-for="Input.Message">Write Message</label>
                            <textarea asp-for="Input.Message" class="form-control " cols="30" rows="8"></textarea>
                            <span asp-validation-for="Input.Message" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<partial name="~/Pages/Shared/_Appointment.cshtml" />

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Input_Phone').mask("(99) 99999-9999");            
        });
    </script>
}
