﻿@page 
@model IndexModel
@{
    ViewData["Title"] = "Home"; 
    ViewData["Active"] = "Index";
}

@section Topo{
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">

                <div class="mb-5 element-animate">
                    <img src="images/banner_text_1.png" alt="Image placeholder" class="img-md-fluid">
                </div>

            </div>
        </div>
    </div>
}

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pr-5">

                <h2 class="mb-3">Services</h2>
                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>

                <div class="mb-3 custom-nav">
                    <a href="#" class="btn btn-primary btn-sm custom-prev mr-2 mb-2"><span class="ion-android-arrow-back"></span></a>
                    <a href="#" class="btn btn-primary btn-sm custom-next mr-2 mb-2"><span class="ion-android-arrow-forward"></span></a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 slider-wrap">
                        <div class="owl-carousel owl-theme no-nav js-carousel-1">

                            <a href="#" class="img-bg" style="background-image: url('images/img_2.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Haircuting</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                            <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Beard Shaving</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                            <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Cream &amp; Shampoo</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                            <a href="#" class="img-bg" style="background-image: url('images/img_2.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Haircuting</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                            <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Beard Shaving</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                            <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Cream &amp; Shampoo</h2>
                                    <p>Read More</p>
                                </div>
                            </a>
                            <a href="#" class="img-bg" style="background-image: url('images/img_2.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Haircuting</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                            <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Beard Shaving</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                            <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Cream &amp; Shampoo</h2>
                                    <p>Read More</p>
                                </div>
                            </a>
                            <a href="#" class="img-bg" style="background-image: url('images/img_2.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Haircuting</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                            <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Beard Shaving</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                            <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                                <div class="text">
                                    <span class="icon custom-icon flaticon-scissors"></span>
                                    <h2>Cream &amp; Shampoo</h2>
                                    <p>Read More</p>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h2>Barber Features</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors-1"></span></div>
                    <div class="media-body">
                        <h3>Shave &amp; Haircut</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-cream"></span></div>
                    <div class="media-body">
                        <h3>Cream &amp; Shampoo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-moustache"></span></div>
                    <div class="media-body">
                        <h3>Mustache Expert</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors"></span></div>
                    <div class="media-body">
                        <h3>Haircut Styler</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-razor"></span></div>
                    <div class="media-body">
                        <h3>Razor For Beards</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-hair-comb"></span></div>
                    <div class="media-body">
                        <h3>Haircomb</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<partial name="~/Pages/Shared/_Appointment.cshtml" />

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 video-wrap mb-5">
                <img src="images/img_5.jpg" alt="Image placeholder" class="img-fluid">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><span class="fa fa-play"></span></a>
            </div>
            <div class="col-md-6 pl-md-5">
                <h3>Good Looking Style</h3>
                <p class="lead">Start with us today</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere a excepturi quod impedit rerum ipsum totam incidunt, necessitatibus id veritatis maiores quos saepe dolore commodi magnam fugiat. Incidunt, omnis.</p>
                <p>Nobis quae eaque facere architecto eligendi, voluptas quasi, blanditiis aperiam possimus inventore quis nam! Cupiditate necessitatibus, voluptatem excepturi placeat exercitationem quos vitae ut vero dolorem, provident sit odio porro facere.</p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
